//Colors

$color-white: #fff;
$color-black: #000;
$color-grey: grey;

$color-primary: #3d5a80;
$color-primary-dark: #2f3e58;
$color-primary-light1: #f6fcfc;
$color-primary-light2: #98c1d9;

$color-secondary: #ee6c4d;
