.navigation {
  width: 100%;
  display: flex;
  padding: 0 5rem;

  &__item {
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;

    &--active {
      background: $color-white;
      font-weight: 800;
      color: $color-primary-dark;
    }

    &--inactive {
      background: $color-primary-dark;
      color: $color-white;

      &:hover {
        background: lighten($color-primary-dark, 5%);
      }
    }

    &__text {
      font-size: 1.2rem;
      letter-spacing: 0.25rem;
    }
  }
}
